*{
  transition: all 1s;
  padding:0;
  margin:0;
}
.clearfix{
  content:'';
  display: block;
  clear: both;
}
.token.selector, {
  color: black;
}
.token.constant, {
  color: black;
}
.token.punctuation {
  color: black;
}
body{
  perspective: 500px;
  padding: 100px;
  padding-top:10px;
}
.paper{
  display:none;
  float: right;
  width: 60%;
  height: 84vh;
  background: #F5F2F0;
  padding: 16px;
  box-shadow: 0px 0px 3px 3px #ccc;
}
@keyframes dd {
  0%{ width: 100%;}
  100%{ width: 60%;}
}
#displayCode {
  float:left;
  width: 100%;
  height:88vh;
  overflow: auto;
  box-shadow: -7px 6px 0px -2px #ccc;
}
.paper{
  margin-top:8px;
  transform: rotatey(68.5deg);
}
